<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header::header">
    <title>Download Page</title>
</head>
<body>
<div th th:replace="common/header::navbar">
</div>
    <div class="container">
        <br/>
        <br/>
        <br/>
        <form th:action="@{/downloadStats}" method="post">
            <!--<input type="text" th:name="name"/>-->
            <select th:name="name">
                <option th:each="league : ${leagueList}" th:value="${league.getName()}" th:text="${league.getName()}">
                </option>
            </select>
           <!-- <input type="number" th:name="year"/>-->
            <select th:name="year">
            <option th:each="year : ${yearList}" th:value="${year}" th:text="${year}">
            </option>
            </select>

            <br/>
            <br/>

            <input type="submit" value="Download Data" class="btn btn-outline-primary" />
        </form>



       <!-- <div sec:authorize="!isAuthenticated()">
            <form th:action="/subscribe" method="post">
                <input type= "text" th:text="${#authentication.name}" th:name="username"/>
            </form>
        </div>
-->


    </div>

<div th:replace="common/header :: footer" > </div>
<div th:replace="common/header :: body-bottom-scripts" > </div>
</body>
</html>