<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header::header">

</head>
<body>
<div th th:replace="common/header::navbar">
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">x
<div class="container">
  <form action="/listFiles" class="form-inline">
  </form>
  <div class="card">
    <div class="card card-body">
      <table id = "listOfFiles" class="table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Month</th>
          <th></th>
          <th>Year</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fileUpload : ${listOfFiles}">
          <td th:text="${fileUpload.filename}"></td>
          <td></td>
          <td th:text="${fileUpload.monthOfTheFile}"></td>
          <td></td>
          <td th:text="${fileUpload.yearOfTheFile}"> </td>
          <td></td>
          <td>
            <!--<a th:href="@{/readFile?name=} + ${fileUpload.filename}">-->
            <form action="#"  th:action="@{/readFileAndMap(filename=${fileUpload.filename})}"  method="post">
              <button type="submit" class="btn btn-primary">Read File</button>
            </form>
            <form action="#"  th:action="@{/remove(filename=${fileUpload.filename})}"  method="post">
              <button type="submit" th:id="${fileUpload.filename}" class="btn btn-danger">Delete</button></a>
            </form>
            <!--<a th:href="@{/remove(filename=${fileUpload.filename})}">
              <button type="submit" th:id="${fileUpload.filename}" class="btn btn-danger" value="delete" th:method="post">Delete</button></a>-->
          </td>

          <!--<td><a th:href="@{/addTask(email=${user.email})}" class="btn btn-dark">Add Task</a></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>


<div th:replace="common/header :: footer" > </div>

<div th:replace="common/header :: body-bottom-scripts" > </div>
</body>
</html>